<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>条件与循环</title>
    <script src="../vue.js"></script>
  </head>

  <body>
    <div id="app">
      <p @click="hideMe" v-if="seen">现在你看到我了</p>
      <ol>
        <li v-for="(item, index) in items" :key="index" @click="addItem">{{ item.name }}</li>
      </ol>
    </div>
    <script>
      new Vue({
        data() {
          return {
            seen: true,
            items: [{ name: '学习 JavaScript' }, { name: '学习 Vue' }, { name: '整个牛项目' }]
          }
        },
        methods: {
          hideMe() {
            this.seen = !this.seen
          },
          addItem() {
            this.items.push({ name: '新项目' })
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
