<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>值绑定</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>复选框</h3>
      <div>
        <input
          type="checkbox"
          v-model="toggle"
          true-value="yes"
          false-value="no"
        />
        <p>
          <label>toggle: {{ toggle }}</label>
        </p>
      </div>
      <hr />

      <h3>单选按钮</h3>
      <div>
        <input type="radio" v-model="pick" :value="a" />
        <input type="radio" v-model="pick" :value="b" />
        <p>
          <label>pick: {{ pick }}</label>
        </p>
      </div>
      <hr />

      <h3>选择框的选项</h3>
      <div>
        <select v-model="selected">
          <!-- 内联对象字面量 -->
          <option disabled value="">请选择</option>
          <option :value="{ number: 123 }">123</option>
          <option :value="{ number: 456 }">456</option>
          <option :value="{ number: 789 }">789</option>
        </select>
        <p>
          <label>selected: {{ selected.number ? selected.number : '' }}</label>
        </p>
      </div>
      <hr />

      <h3>修饰符</h3>
      <div>
        <!-- 在“change”时而非“input”时更新 -->
        Message: <input v-model.lazy="msg" />
        <p>Message is : {{ msg }}</p>

        Age: <input v-model.number="age" type="number" />
        <p>Age is : {{ age }}</p>

        Text: <input v-model.trim="text" />
        <p>Text is : {{ text }}</p>
      </div>
    </div>
    <script>
      new Vue({
        data() {
          return {
            toggle: '',
            pick: '',
            a: 'A',
            b: 'B',
            selected: '',
            msg: '',
            age: '',
            text: ''
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
